{{! The post loop }}
<section class="container">
	<section class="row">
	{{#foreach posts}}
		<article class="col-md-4">
			<div class="panel panel-primary panel-post"  style="background-image: url('{{image}}')">
				<header class="panel-heading panel-heading-loop">
					<h3 class="panel-title"><a href="{{url}}">{{title}}</a></h3>
					<span class="tags">{{tags}}</span>
				</header>
			</div>
		</article>
	{{/foreach}}
	</section>
	<ul class="pagination">
	 {{pagination}}
	</ul>
</section>
