{{!< default}}

{{> "site-header"}}
{{#post}}
<section class="container">
  <section class="row">
    <section class="col-md-9">
        <div class="panel panel-default">
                <header class="panel-heading">
                    <h3 class="panel-title"><h2>{{title}}</h2>
                    <p><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></p>
                    {{tags prefix="on " separator=" | "}}</h3>
                </header>
                <div class="panel-body" id="text-content">
                    {{content}}
            </div>
        </div>
    </section>
    <aside class="col-md-3">
        <div class="panel panel-default panel-post">
            <header class="panel-heading">
                    <h3 class="panel-title">{{author.name}}</h3>
            </header>
            <div class="panel-body panel-body-profile" style="background-image: url('{{author.image}}')"></div>
            <footer class="panel-footer">{{author.bio}}</footer>
        </div>
    </aside>
  </section>
</section>
{{/post}}
